<div class="modal-content">
  <div class="modal-header" style="padding:35px 50px;">
    <h4><span class="glyphicon glyphicon-pencil"></span> Sign Up</h4>
  </div>
  <div class="modal-body" style="padding:40px 50px;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-success btn-block"%>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

</div>
