<div class="modal-content">
  <div class="modal-header" style="padding:35px 50px;">
    <h4><span class="glyphicon glyphicon-repeat"></span> Reset</h4>
  </div>
  <div class="modal-body" style="padding:40px 50px;">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"btn btn-success btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
