<div class="col-xs-12 col-sm-4 col-md-4 ">
  <div class="albumdetail">
    <div class="modal-body" style="padding:40px 50px;">
      <%= form_for :album, url: homes_album_path(album), method: :patch   do |form| %>

        <div class="field">
          <%= form.label :title %><br />
          <%= form.text_field :title, class: "form-control", value: album.title%>
        </div>

        <div class="field">
          <%= form.label :description %><br />
          <%= form.text_field :description, class: "form-control",  value: album.description%>
        </div>

        <p>
          <%if album.publish %>
            <%= form.label :publish, 'Private' %>
            <%= radio_button(:album, "publish", false)%>
            <%= form.label :publish, 'Publish' %>
            <%= radio_button(:album, "publish", true, checked: true)%>
          <%else%>
            <%= form.label :publish, 'Private' %>
            <%= radio_button(:album, "publish", false, checked: true)%>
            <%= form.label :publish, 'Publish' %>
            <%= radio_button(:album, "publish", true)%>
          <%end%>

        </p>

        <div class="actions">
          <%= form.submit "Update", class:"btn btn-success btn-block"%>
        </div>
      <% end %>
      <%= form_for :album, url: homes_album_path(album), method: :delete do |form| %>
        <div class="actions">
          <%= form.submit "Delete", class:"btn btn-danger btn-block"%>
        </div>
        <% end %>

      <% flash.each do |key, value|%>
      <div class="alert alert-warning alert-dismissable fade in myNotice">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p><%= key %> : <%= value %></p>
      </div>
      <%end%>
    </div>
  </div>
</div>
