<header class="headsection">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navs" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="collapse-navs">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to 'Home', root_path %></li>
            <%if user_signed_in?%>

                <%if current_user.admin?%>
                  <!-- Admin menu-->
                  <li class="nav-divider"></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                      <span class="caret"></span>
                    </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Manage Images', admins_path%></li>
                        <li><%= link_to 'Manage Users',manage_users_admins_path%></li>
                      </ul>
                  </li>
                <%end%>
                  <li class="nav-divider"></li>
                  <li><%= link_to 'Images', homes_images_path%></li>
                  <!-- Notification-->
                  <li class="nav-divider"></li>
                  <li class="dropdown">
                    <%= link_to '', href: clear_notifications_homes_path(current_user), class: 'dropdown-toggle',
                        data:{toggle: 'dropdown'}, method: :post, remote: true do%>
                      <span class="badge notification" id="notificationNumber"><%=notifications ? notifications.unread.size : 0 %></span><i class="fa fa-flag" aria-hidden="true"></i>
                    <%end%>
                      <%unless notifications.empty?%>
                        <ul class="dropdown-menu" id="notificationItems">
                          <%notifications.each do |notification|%>
                            <%= link_to '', href: notification.link do%>
                              <%if notification.readed%>
                                  <li class="readedNotification"><%=notification.content%></li>
                              <%else%>
                                  <li><%=notification.content%></li>
                              <%end%>
                            <%end%>
                          <%end%>
                        </ul>
                      <%end%>
                  </li>
              <li class="nav-divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %> </li>
            <%else%>
              <li class="nav-divider"></li>
              <li><%= link_to 'Log In', new_user_session_path %> </li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
