<div class="col-xs-12 col-sm-8 col-md-8 ">
  <div id="showImages" class="tab-pane fade in active">

      <div class="row" >
        <% images.each do |img|%>
          <div class="col-xs-6 col-sm-4 col-md-3 imagesitem">
            <a href=<%= homes_image_path(img)%>>
              <%= image_tag(img.img_content.url(:thumb), alt: "image missing", class:"img-thumbnail")%>
            </a>
          </div>
        <%end%>

        <!-- Upload button -->
        <div class="col-xs-6 col-sm-4 col-md-3 imagesitem text-center">
            <button type="button" id="addImageToAlbum" class="btn btn-default"
            data-toggle="tooltip" title="Add Image" data-placement="right">
              <i class="glyphicon glyphicon-plus fa-4x" aria-hidden="true"></i>
            </button>
        </div>
      </div>
      <!-- Upload image model -->
      <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Upload more images</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <%= form_for :album, class: "form-group", url: homes_album_path(album),
              html: { multipart: true }, method: :patch do |form| %>
              <div class="field">
                <%= form.label :title %><br />
                <%= form.text_field :title, class: "form-control", value: album.title%>
              </div>

              <div class="field">
                <%= form.label :description %><br />
                <%= form.text_field :description, class: "form-control",  value: album.description%>
              </div>

              <p>
                <%if album.publish %>
                  <%= form.label :publish, 'Private' %>
                  <%= radio_button(:album, "publish", false)%>
                  <%= form.label :publish, 'Publish' %>
                  <%= radio_button(:album, "publish", true, checked: true)%>
                <%else%>
                  <%= form.label :publish, 'Private' %>
                  <%= radio_button(:album, "publish", false, checked: true)%>
                  <%= form.label :publish, 'Publish' %>
                  <%= radio_button(:album, "publish", true)%>
                <%end%>

              </p>

              <p>
              <%= form.label :description, 'Picked images' %>
              <%= form.file_field :img_contents, multiple: true %>
              </p>
              <%= form.submit 'Upload', class: "btn btn-success"%>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= paginate images, window: Image::PAGINATING_WINDOW, :param_name => "album_img_page" %>
        </div>
      </div>
  </div>
</div>
