<section class="featuresection">
  <div class="container">
    <div class="title">
    </div>
    <div class="listImage">
      <div class="row" >
        <% if publish_images%>
          <% publish_images.each do |img|%>
            <div class="col-xs-6 col-sm-4 col-md-3 publishImage">
              <a href="<%=show_image_homes_path(img)%>">
               <%= image_tag(img.img_content.url(:thumb), alt: "image missing", class:"img-thumbnail")%>
             </a>
            </div>
          <%end%>
        <%end%>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= paginate publish_images, window: Image::PAGINATING_WINDOW, :param_name => "page" %>
        </div>
      </div>
    </div>
  </div>
</section>
