<section class="servicesection">
  <div class="container">
    <div class="row">
      <div class="col-md-6" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
           <li data-target="#myCarousel" data-slide-to="3"></li>
         </ol>

         <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
           <div class="item active">
             <%= image_tag("img01.jpg", size: "460x345", alt: "image01 missing")%>
           </div>

           <div class="item">
             <%= image_tag("img02.jpg", size: "460x345", alt: "image02 missing")%>
           </div>

           <div class="item">
             <%= image_tag("img03.jpg", size: "460x345", alt: "image03 missing")%>
           </div>

           <div class="item">
             <%= image_tag("img04.png", size: "460x345", alt: "image04 missing")%>
           </div>
         </div>

         <!-- Left and right controls -->
         <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
      </div>

      <div class="col-md-6 text-center">
        <a href= <%=upload_homes_path%> data-toggle="tooltip" title="Upload Images" data-placement="right">
          <button type="button" class="btn btn-default" id="uploadBtn">
            <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
