<section class="imagealbumsection">
  <div class="container">
    <div class="row">
      <% images.each do |img|%>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <div class="row imageItem">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= image_tag(img.img_content.url(:thumb), alt: "image missing", class:"img-thumbnail")%>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
              <div class="imageAction">
                <p><strong>Title:<%= img.title%></strong></p>
                <p><strong>Description:</strong></p>
                <p><%= img.description%></p>
                <p><strong>Owner: <%=img.album.user.name%></strong></p>

                <a data-confirm="Are you sure?" data-method="delete" href=<%=homes_image_path(img)%>>
                  <button type="button" class="btn btn-danger">Delete</button>
                </a>
                <a href=<%=homes_image_path(img)%>>
                  <button type="button" class="btn btn-success">Update</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <%= paginate images, window: Image::PAGINATING_WINDOW, :param_name => "imagepage" %>
      </div>
    </div>
  </div>
</section>
