<section class="imagealbumsection">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#showImages">Images</a></li>
      <li><a data-toggle="tab" href="#showAlbums">Albums</a></li>
    </ul>

    <div class="tab-content">
      <div id="showImages" class="tab-pane fade in active">
        <div class="row" >
          <% images.each do |img|%>
            <div class="col-xs-6 col-sm-4 col-md-3 imagesitem">
              <a href=<%= homes_image_path(img)%>>
                <%= image_tag(img.img_content.url(:thumb), alt: "image missing", class:"img-thumbnail")%>
              </a>
            </div>
          <%end%>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <%= paginate images, window: Image::PAGINATING_WINDOW, :param_name => "imagepage" %>
          </div>
        </div>
      </div>
      <div id="showAlbums" class="tab-pane fade ">
          <div class="row">
            <% albums.each do |album|%>
              <div class="col-xs-12 col-sm-6 col-md-4 albumsitem">
                <div class="albums">
                  <a target="_blank" href=<%=homes_album_path(album)%>>
                    <%if album.images.first%>
                      <%= image_tag(album.images.first.img_content.url(:thumb), alt: "image missing")%>
                    <%else%>
                      <%= image_tag('404.png', alt: "image missing")%>
                    <%end%>
                  </a>
                  <div class="title"><%= album.title %> </div>
                    <div class="description"><%= album.description %></div>
                  </div>
              </div>
            <%end%>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= paginate albums, window: Image::PAGINATING_WINDOW, :param_name => "albumpage" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
