  <section class="imagealbumsection">
  <div class="container">
    <div class="row">
      <% users.each do |user|%>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <div class="row imageItem">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= image_tag('avatar.png', alt: "image missing", class:"img-thumbnail")%>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
              <div class="imageAction">
                <p><strong>Name:<%= user.name%></strong></p>
                <p><strong>Email: <%= user.email%></strong></p>
                <p><strong>Status: <%= user.active ? 'Active' : 'Disable' %> </strong></p>
                <p>
                  <a data-confirm="Are you sure?" data-method="delete" href=<%=admin_path(user)%>>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </a>
                  <%if user.active%>
                    <%=link_to '', href: admin_path(user), method: :patch do %>
                      <button type="button" class="btn btn-warning">Disable</button>
                    <%end%>
                  <%else%>
                    <%=link_to '', href: admin_path(user), method: :patch do %>
                      <button type="button" class="btn btn-success">Active</button>
                    <%end%>
                  <%end%>
                </p>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <%= paginate users, window: Image::PAGINATING_WINDOW, :param_name => "userpage" %>
      </div>
    </div>
  </div>
</section>
