<section class="showimagesection">
  <div class="container">
    <div class="row">
      <%= render partial:'pages/image_of_album', locals: {images: images, album: album}%>
      <%= render partial:'pages/album_form', locals: {album: album}%>
    </div>
  </div>
</section>
