<section class="showimagesection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="showimage text-center">
          <%= image_tag(image.img_content.url(:original), alt: "image missing")%>
        </div>
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="imageinfo">
          <div class="modal-body" style="padding:40px 50px;">
            <%= form_for :updated_image, url: homes_image_path(image), method: :patch   do |f| %>
              <div class="field">
                <label> Album: <%=image.album.title %> </label>
              </div>

              <div class="field">
                <%= f.label :title %><br />
                <%= f.text_field :title, class: "form-control", value: image.title%>
              </div>

              <div class="field">
                <%= f.label :description %><br />
                <%= f.text_field :description, class: "form-control",  value: image.description%>
              </div>

              <div class="field">
                <%if publish %>
                  <%= f.label :publish, 'Private' %>
                  <%= radio_button(:updated_image, "publish", false)%>
                  <%= f.label :publish, 'Publish' %>
                  <%= radio_button(:updated_image, "publish", true, checked: true)%>
                <%else%>
                  <%= f.label :publish, 'Private' %>
                  <%= radio_button(:updated_image, "publish", false, checked: true)%>
                  <%= f.label :publish, 'Publish' %>
                  <%= radio_button(:updated_image, "publish", true)%>
                <%end%>
              </div>

              <div class="actions">
                <%= f.submit "Update", class:"btn btn-success btn-block"%>
              </div>
            <% end %>
            <%= form_for :updated_image, url: homes_image_path(image), method: :delete   do |f| %>
              <div class="actions">
                <%= f.submit "Delete", class:"btn btn-danger btn-block"%>
              </div>
            <% end %>
            <% flash.each do |key, value|%>
            <div class="alert alert-warning alert-dismissable fade in myNotice">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p><%= key %> : <%= value %></p>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
