<div class="container">
  <ul class="nav nav-tabs">
    <li id="albumTab" class="active"><a data-toggle="tab" href="#albumUpload">Album Upload</a></li>
    <li id="imageTab"><a data-toggle="tab" href="#imageUpload">Image Upload</a></li>
  </ul>

  <div class="tab-content">
    <div id="albumUpload" class="tab-pane fade in active">
      <%= form_for :album, class: "form-group", url: homes_path, html: { multipart: true } do |form| %>
        <p>
          <%= form.label :title%>
          <%= form.text_field :title, class: "form-control" %>
        </p>

        <p>
          <%= form.label :description %>
          <%= form.text_field :description, class: "form-control"  %>
        </p>

        <p>
          <%= form.label :publish, 'Private' %>
          <%= radio_button(:album, "publish", false, checked: true)%>
          <%= form.label :publish, 'Publish' %>
          <%= radio_button(:album, "publish", true)%>
        </p>

        <p>
          <%= form.label :description, 'Picked images' %>
          <%= form.file_field :img_contents, multiple: true %>
        </p>
          <%= form.submit 'Upload', class: "btn btn-success"%>
      <% end %>
    </div>
    <div id="imageUpload" class="tab-pane fade">
      <%= form_for :image, class: "form-group", url: image_upload_homes_path, html: { multipart: true } do |form| %>
        <p>
          <%= form.label :album%>
          <%=  collection_select(:image, :album_id, @albums, :id, :title, { prompt: true }) %>
        </p>

        <p>
          <%= form.label :title%>
          <%= form.text_field :title, class: "form-control" %>
        </p>

        <p>
          <%= form.label :description %>
          <%= form.text_field :description, class: "form-control"  %>
        </p>

        <p>
          <%= form.label :publish, 'Private' %>
          <%= radio_button(:image, "publish", false, checked: true)%>
          <%= form.label :publish, 'Publish' %>
          <%= radio_button(:image, "publish", true)%>
        </p>

        <p>
          <%= form.file_field :img_content %>
        </p>
          <%= form.submit 'Upload', class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
  <% flash.each do |key, value|%>
  <div class="alert alert-warning alert-dismissable fade in myNotice">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p><%= key %> : <%= value %></p>
  </div>
  <%end%>
</div>
