<%= render partial:'pages/header', locals:{notifications: @notifications}%>

<%= render partial: 'publishs/published_image',
  locals: {
    image: @image, owner: @owner, album: @album, liked: @liked
  }
%>
