<%= render partial:'pages/header', locals:{notifications: @notifications}%>
<%= render partial: 'publishs/publish_album_detail',
  locals: {
    album: @album, images: @images, owner: @owner, liked: @liked,
    followed: @followed
  }
%>
