<%= render partial:'pages/header', locals:{notifications: @notifications}%>
<%= render partial: 'publishs/show_publish_profile',
  locals: {
    user: @user, followed: @followed, images: @images
  }
%>
