<div class="modal-content">
  <div class="modal-header" style="padding:35px 50px;">
    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
  </div>
  <div class="modal-body" style="padding:40px 50px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control",autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-success btn-block"%>
      </div>
    <% end %>
  <%= render "devise/shared/links" %>
  </div>


<div>
