// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*album details*/
.actions {
  margin: 10px auto;
}


#addImageToAlbum {
  margin: 20px auto;
}

/*admin show images*/
.imageItem {
  margin: 10px auto;
  border: 1px solid #f9f9f9;
  overflow:hidden;
  &:hover {
    border: 1px solid #428bca;
  }
}

.imageAction {
  font-family: 'Lato', sans-serif;
  p {
    margin: 5px auto;
  }
  .btn {
    margin: 10px auto;
  }
}
