// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*For Fonts*/
/*For bootstrap*/

/*-> Login/Sign up form*/
.modal-content{
  width: 600px;
  margin: 0 auto;
}
.modal-header{
  background-color: #2A2A2A;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #2A2A2A;
}

/*-> Banner */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
/*For my owncustom*/
.navbar-default{
  background: #262626;
  border-color: #262626;
  .navbar-nav > li > a {
    color: #D9D9D9;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: #EA6660;
    }
    &:active {
      color: #EA6660;
    }
  }
}

.headsection{
  background: #262626
}

header {
  .dropdown-menu {
    width: 300px;
    background: #262626;
    .readedNotification {
      color: grey
    }
    li {
      color: #D9D9D9;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: bold;

      &:hover {
        color: #EA6660;
      }
    }
  }
}

.servicesection{
  background: #303030
}

#myCarousel{
  margin-top: 10px;
  margin-bottom: 10px;
}
#uploadBtn{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #A9A9A9;
}

.featuresection {
  h2 {
    font-family: 'Lato', sans-serif;
  }
}
.publishImage{
  margin: 10px auto;
}

footer{
  clear:both;
  margin-top: 20px;
  height: 50px;
  background-color: #2A2A2A;
}

.notification{
  background-color: #d9534f;
}


/*Publish image*/
.imageInfo{
  margin-top: 10px;
  border: 1px solid #428bca;
  border-radius: 5px;
  overflow:hidden;
}

.imageInfo .btn{
  margin: 10px auto;
}


.showimage{

}

.showimage img {
  width: 100%;
}
/*Publish image*/
.publishAlbumSection{

}

.publishAlbumSection .albumdetail{
  margin-top: 10px;
  border: 1px solid #428bca;
  border-radius: 5px;
  overflow:hidden;
}
.publishAlbumSection .btn{
    margin: 10px auto;
}
/*Publish user*/
.publishProfileSection{

}

.publishProfileSection .profile{
  border: 1px solid #428bca;
  border-radius: 5px;
  margin-top: 10px;
}

.publishProfileSection .profileImage{
  margin-top: 20px;
}

.publishProfileSection .profileInfo{
  margin-top: 20px;
  margin-left: 20px;
  overflow:hidden;
}

.profileInfo .btn{
  margin: 10px auto;
}
