// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Upload form*/
.tab-content {
  form{
    margin: 10px auto;
    width: 600px;
  }
}

/*Show images and albums*/
.imagesitem {
  img{
    margin: 10px auto;
  }
}

.albumsitem {
  .albums {
    margin: 20px 40px;
    border: 1px solid #ccc;
    img {
      width: 100%;
      height: auto;
    }

    .title {
      padding: 15px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }

    .description {
      padding: 15px;
      text-align: center;
    }

    &:hover {
      border: 1px solid #428bca;
    }
  }

}

.showimage{
  margin: 10px auto;
}
.imageinfo{
  width: 800px;
  margin: 10px auto;
  .btn{
    margin-top: 10px
  }
}
