<div id="showImages" class="tab-pane fade in active">
  <div class="row" >
    <% images.each do |img|%>
      <div class="col-xs-6 col-sm-4 col-md-3 imagesitem">
        <a href= "<%= show_image_homes_path(img)%>" >
          <%= image_tag(img.img_content.url(:thumb), alt: "image missing", class:"img-thumbnail")%>
        </a>
      </div>
    <%end%>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= paginate images, window: Image::PAGINATING_WINDOW, :param_name => "album_img_page" %>
    </div>
  </div>
</div>
