<section class="publishAlbumSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 ">
        <%= render partial: 'publishs/list_image_album', locals:{images: images}%>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 albumdetail">
        <p><strong>Album: <a href="#"><%= album.title %></a></strong></p>
        <p><%= album.description %></p>
        <p><strong>Owner: <a href="<%=show_publish_user_homes_path(owner)%>"><%=owner.name%></a></strong></p>
        <p>
          <a href="#"><span id="likeBadge" class="badge"><%=album.likes.size%></span>Like</a>
        </p>
        <%if user_signed_in?%>
          <%= link_to like_album_homes_path(album, like: true), method: 'post', remote: true do %>
            <button type="button" class="btn btn-primary" id="likeButton"><%= liked ? 'Unlike': 'Like'%></button>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</section>
