<div class="publishImage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="showimage text-center">
          <%= image_tag(image.img_content.url(:original), alt: "image missing")%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 imageInfo">
        <p><strong>Title: <%= image.title %></strong></p>
        <p><strong>Album: <a href="<%=show_publish_album_homes_path(album)%>"><%= album.title %></a></strong></p>
        <p><strong>Owner: <a href="<%=show_publish_user_homes_path(owner)%>"><%=owner.name%></a></strong></p>
        <p>
          <a href="#"><span id="likeBadge" class="badge"><%=image.likes.size%></span>Like</a>
        </p>
        <%if user_signed_in?%>
          <%= link_to like_image_homes_path(image, like: true), method: 'post', remote: true do %>
            <button type="button" class="btn btn-primary" id="likeButton"><%= liked ? 'Unlike' : 'Like'%></button>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
