<section class="publishProfileSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <%= render partial: 'publishs/list_image_album', locals:{images: images}%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 profile">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 text-center profileImage">
              <%= image_tag('avatar.png', alt: "image missing", class:"img-thumbnail")%>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 profileInfo">
            <p><strong>Name: <a href="<%=show_publish_user_homes_path(user)%>"><%=user.name%></a></strong></p>
            <p><strong>Email: <a href="<%=show_publish_user_homes_path(user)%>"><%=user.email%></a></strong></p>
            <p>
              <a href="#"><span class="badge" id="followBadge"><%=user.follows.size%></span>Follower</a>
            </p>
            <%if user_signed_in? && current_user.id != user.id%>
              <%= link_to follow_user_homes_path(user, follow: true), method: 'post', remote: true do %>
                <button type="button" class="btn btn-primary" id="followButton"><%= followed ? 'Unfollow' : 'Follow'%></button>
              <%end%>
            <%end%>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
