<%= render partial:'pages/header', locals:{notifications: @notifications}%>

<%= render 'pages/service'%>
<%= render partial: 'pages/show_image_album',
  locals: {
    images: @images, albums: @albums
  }
%>
